:root{
    --color1:#ffffff;
    --color2:#016b01;
    --color3:#ff00ff;
    --color4:#e1e1e1;
    --color5:rgba(0,0,0,.6);
    --color6:#000000;
    --color7:#292b2c;
    --color8:#563d7c;
    --color9:#6c757d;
    --color10:#007bff;
    --color11:#0069d9;
    --color12:#0275d8;
}